
.main {
  margin-top: 0%;
  display: grid;
  grid-template: repeat(auto-fill, minmax(20%, 1fr))
   / repeat(auto-fill, minmax(20%, 1fr));
  gap: 10px;
}

.main img {
   max-width: 200px;
   max-height: 200px;

}

.shopCart{
    position: absolute;
    margin:15% 20% 15% 20%;

    border: 1px solid gray;
}

.top_void{
  background-color:#534B52;
  width: 100%;
  height: 24%;
}

.banner{
  width: 100%;
  height: 40%;
  margin-bottom: 30%;
}



.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}
.gridControlDiv{
    padding: 1em 1em 1em 1em;

    background-color: lightgray;
    color: white;
    user-select: none;

    display: flex;
    flex-direction: row;
    align-content: right;
    justify-content:right;
    gap: 10px;
}

.gridControlDiv button{
    background-color: darkgray;
    border: none;
    border-radius: 5px;
    padding: 0.5%;
}

.gridControlDiv button:hover{
    background-color: gray;
    cursor: pointer;
}

.gridControlBar{
    position:relative;

}
.gridControlBar::after{
    content: "";
    position:absolute;
    top: -10;
    bottom: 0;
    left: 10%;
    background-color: white;
    height: 180%;
    width: 3px;
}

.artistCard{
    /*display: none;*/
    background-color: #FFFFFF;

    position: fixed;
    top: 10%;
    left: 10%;
    bottom: 10%;
    width: 80%;
    height: 80%;

    z-index: 99;
}
.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  text-align: center;
}

.card p{
    font-size: 10rem;
    padding: 2rem;
    z-index: 0;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  text-wrap: balance;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}



.nav {
  display: flex;
  align-items: center;
}

.nav ul {
  list-style: none;
  display: flex;
  padding: 10px;
}

.nav li {
  margin-left: 20px;
}

.nav a {
  color: inherit;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #FFCF81;
  color: #000;
  transition: background-color 0.2s ease;
}

.nav a:hover {
  background-color: #FDFFAB;
}

.header {
  position:fixed;
  width: 100%;
  height:24%;
  background-color: #534B52AA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logoContainer {
  margin-right: auto;
  max-width: 100%;
  padding: 1rem;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* */
.contactIconsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; /* Ajusta según sea necesario */
}
.formGroup1{
  padding-top: 40px;
}
.formGroup1 h2{
  border-bottom: solid 2px #000;
  text-align: center;
}

.contactIconsContainer img {
  width: 40px; /* Ajusta según sea necesario */
  margin-right: 10px; /* Ajusta según sea necesario */
}

.contactIconsContainer img:hover{
  border-bottom: solid 3px #2980b9;
}


/* thanks messager*/
.thanks-container {
  text-align: center;
  padding: 20px;
  border: 2px solid #2980b9;
  border-radius: 8px;
  background-color: #FFCF81;
  margin: 20px;
}

.thanks-container h1 {
  color: white;
}

.thanks-container p {
  font-size: 16px;
} 

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-top: 50px;
}

.message h1 {
  color: #2980b9;
  font-size: 30px;
  margin-bottom: 10px;
 
}

.message h2 {
  padding-top: 30px;
  color: red;
  font-size: 25px;
  margin-bottom: 20px;
  border-top: solid 2px #000;
}

.message img {
  padding-top: 30px;
  width: 400px; /* Ajusta el tamaño según tus necesidades */
  height: 500px; /* Ajusta el tamaño según tus necesidades */
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

}

.message img:hover {
  transform: scale(1.1);
  border-bottom: solid 2px #2980b9;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* footer*/
.footer {
  
  background-color: #534B52AA;
  color: white;
  padding: 20px 0;
  text-align: center;
  bottom: 0;
  width: 100%;
  border: solid 3px black;
  margin-top: 300px;
}

.footerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.socialMedia img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.companyLogo img {
  width: 120px; 
  height: 120px;
  margin-bottom: 10px;
}

.shoppingCart {
  margin-left: 20px; 
}

.shoppingCart a {
  display: inline-block;
  position: relative;
}

.shoppingCart img {
  width: 20px;
  height: 20px;
}


@media only screen and (max-width: 768px) {
  .footerContent {
    flex-direction: row; 
    justify-content: space-around;
  }

  .socialMedia img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .companyLogo img {
    width: 100px; 
    height: auto;
    margin-bottom: 10px;
  }
  
}  

/* form */
.formContainer {
  max-width: 28rem;
  margin: auto;
  padding: 1.5rem;
  background-color: #FFCF81;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-top: 4rem; 
  margin-bottom: 4rem; 
  border-radius: 10%;
  border: solid 3px #534B52;
}

.formTitle {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  text-align: center;
  border-bottom: solid 2px #000;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.formLabel {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: black;
  margin-bottom: 0.25rem;
  font-size: 20px;
  
}

.formInput {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  border: solid 3px #000;
}

.formInput::placeholder {
  color: #a0aec0;
}

.formInput:focus {
  border-color: #3498db;
}
/*button */
.submitButton {
  background-color: #3498db; 
  color: #fff; 
  padding: 10px 20px; 
  border: solid 3px #000;
  border-radius: 4px; 
  cursor: pointer;
  font-size: 16px; 
  
}

.Button{
  text-align: center;
}

.submitButton:hover {
  background-color: #2980b9; 
}
.formContainer button{
  text-align: center;
}







